{% extends 'base.html' %}

{% block content %}

    <h5 style="margin-top: 10px">Upload your dataset here (.csv): </h5>

    <form method="POST" action="{{ url_for('submit') }}" enctype="multipart/form-data">
        <p><input type="file" name="file" accept=".csv"></p>

        <label for="rg-from">Target Column Name: </label>
        <input name="target_name" value="{{ target_name }}">

        <br>

        <label for="rg-from">Problem type: </label>
        <select name=selected_type>
            {% for type in type_list %}
                {% if type == selected_type %}
                <option value= "{{type}}" selected="selected_type">{{type}}</option>"
                {% else %}
                <option value= "{{type}}">{{type}}</option>"
                {% endif %}
            {% endfor %}
        </select>

        <button type="submit" class="submit">Submit</button>
    </form>

    <hr class="dash">

    <h5>Result: </h5>
    <p>{{ error_message }}</p>

    {% if selected_des != "" %}
    <p>{{ selected_des }}</p>

    <img src="{{ graph_url }}" height="600" width="1200">

    <br>

    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
    {% endif %}

    <br>
    <br>

{% endblock %}